<div class="col-xl-12">
    <div class="text-center mt-3 mb-5" style="font-size: 30px; color: red;">WARNING! ACCOUNT HAS ACTIVE ALERT(S)</div>
</div>
<div class="col-xl-12">
    <div class="text-center mb-5 alert-txt">
        <p><b>Categories:</b> {{alert.Alert_Cat}}</p>
        <p><b>Entered By:</b> {{alert.varEnteredBy}}</p>
        <p><b>Date Entered:</b> {{alert.dateEntered}}</p>
        <div>{{alert.Alert_Detail}}</div>
    </div>

    <div class="text-center mb-5">
    <button class="btn btn-view" id="close_alert" type="button">
        Click Button To acknowledge!
    </button>
    </div>
</div>

<script>
$(document).ready(function() {

    $('#close_alert').click(function() {
    var alert_modal = document.getElementById("alertModal");
        alert_modal.style.display = "none";
    });

});
</script>