<form method="post" id="followup_form">
<div class="row">
  <div class="col-xl-12">
    <h3 class="mb-2">Create Followup:</h3>
  </div>


    <div class="col-xl-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Loan #:</span>
          </div>
          <select class="form-control" name="loan_num">
              <option value="all">All</option>
              {% for loan in acct_loans %}
              <option value="{{loan}}">{{loan}}</option>
              {% endfor %}
            </select>
        </div>
    </div>

    <div class="col-xl-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Delinquent Days:</span>
          </div>
          <input type="number" class="form-control" placeholder="Delinquent Days" name="delq_days" max="1000000">
        </div>
    </div>

    <div class="col-xl-12">
        <input type="hidden" value={{acct}} name="acct_num">

      <textarea id="text_edit" name="editordata" maxlength="1000" required></textarea>
      <button class="btn btn-view mt-2 followup_submit" style="float: right;" type="button">Submit</button>
    </div>

</div>
</form>
<script>
$(document).ready(function() {

    $('#text_edit').cleditor();
  formSubmit("followup_submit", "followup_form", "followup_submit", "display", "off");

$( $(".cleditorMain iframe")[0].contentWindow.document ).on("cut copy paste",function(e) {
      e.preventDefault();
   });


});
</script>