<form method="post" id="alert_form">
<div class="row">

    <div class="col-xl-12">
        <h3 class="mb-3">Create Alert:</h3>
    </div>


    <div class="col-xl-3">
        <h5>Alert Categories:</h5>
    </div>

    <div class="col-xl-9">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="alert_cat" id="inlineRadio1" value="Bankruptcy" required>
          <label class="form-check-label" for="inlineRadio1">Bankruptcy</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="alert_cat" id="inlineRadio2" value="Total Loss">
          <label class="form-check-label" for="inlineRadio2">Total Loss</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="alert_cat" id="inlineRadio3" value="Repossession">
          <label class="form-check-label" for="inlineRadio3">Repossession</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="alert_cat" id="inlineRadio4" value="Charged Off Loan">
          <label class="form-check-label" for="inlineRadio4">Charged Off Loan</label>
        </div>
    </div>

    <input type="hidden" value="{{acct}}" name="key">

    <div class="col-xl-12">
      <textarea id="text_edit" name="editordata" required></textarea>
      <button class="btn btn-view mt-2 alert_submit" style="float: right;" type="button">Submit</button>
    </div>
</div>
</form>
<script>
$(document).ready(function() {
    $('#text_edit').trumbowyg();
    formSubmit("alert_submit", "alert_form", "submit_alert", "display", "off");
});
</script>
