<form id="edit_account" action="/submit_account" method="post">
<div class="row">
    <div class="col-xl-12">
        <h3 clas="mb-3">Edit Account:</h3>
    </div>


    <div class="col-xl-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text login-width">Account #:</span>
          </div>
          <input type="text" class="form-control" placeholder="Account #" name="account_num" id="key">
        </div>
    </div>

    <div class="col-xl-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Member Name:</span>
          </div>
          <input type="text" class="form-control" placeholder="Member Name" name="memb_name" id="name" maxlength="50">
        </div>
    </div>



    <div class="col-xl-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Member Address:</span>
          </div>
          <input type="text" class="form-control" placeholder="Member Address" name="memb_address" id="address" maxlength="150">
        </div>
    </div>

    <div class="col-xl-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Member Address 2:</span>
          </div>
          <input type="text" class="form-control" placeholder="Member Address" name="memb_address2" id="address2" maxlength="150">
        </div>
    </div>

    <div class="col-xl-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Phone:</span>
          </div>
          <input type="text" class="form-control" maxlength="20" placeholder="Member Phone" name="memb_phone" id="phone">
        </div>
    </div>

    <div class="col-xl-6">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Phone 2:</span>
          </div>
          <input type="text" class="form-control" maxlength="20" placeholder="Member Phone" name="memb_phone2" id="phone2">
        </div>
    </div>

    <input type="hidden" value="edit" name="edit">

    <div class="col-xl-12">
        <button class="btn btn-view mt-2 account_edit" style="float: right;" type="button">Submit Edit</button>
    </div>

</div>
</form>
<script>
$(document).ready(function() {
    formSubmit("account_edit", "edit_account", "edit_acct_submit", "display", "off");

    $("#key").val("{{acct.varClientKey}}");
    $("#name").val("{{acct.acct_name}}");
    $("#address").val("{{acct.acct_address}}");
    $("#address2").val("{{acct.acct_address2}}");
    $("#phone").val("{{acct.phone}}");
    $("#phone2").val("{{acct.phone2}}");
});
</script>
