{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <div class="row mt-3 mb-5">
        <div class="col-xl-12">
            <div class="text-center">
                <span style="font-size: 30px; color: red;">{{message}}</span>
            </div>
        </div>
                <!-- ALERT Modal -->
        <div id="alertModal" class="modal">
            <div class="modal-content">
                    {% include "alert_popup.html" %}
            </div>
        </div>
        <script>
        $(document).ready(function() {
            var alert_modal = document.getElementById("alertModal");
            alert_modal.style.display = "block";
        });
        </script>

  </div>
  {% endfor %}
{% endif %}
{% endwith %}



<div class="row">
    <div class="col-xl-6">
        <h3>Account Information:</h3>
    </div>

    <div class="col-xl-6">
        <span class="acct_toggle click_link" style="float: right;">(Toggle Acct Display)</span>
    </div>

    <div class="col-xl-12 cell">

        <div class="row" id="acct_alert">
            <div class="col-xl-6">
                <p><b>Account #:</b> {{acct.varClientKey}}</p>
                <p><b>Member Name:</b> {{acct.first_name}} {{acct.middle_name}} {{acct.last_name}}</p>
                <p><b>Physical Address:</b> {{acct.phys_address}} {{acct.phys_city}} <br> {{acct.phys_state}} {{acct.phys_zip}}</p>
                <p><b>Mail Address:</b> {{acct.mail_address}} {{acct.mail_city}} <br> {{acct.mail_state}} {{acct.mail_zip}}</p>
                <p><b>Member Phone:</b> {{acct.phone}}</p>
                <p><b>Member Phone 2:</b> {{acct.phone2}}</p>
            </div>

            <div class="col-xl-6 mb-3">

                <p>Account Detail:</p>
                <form id="acct_detail" method="post" style="width: 100%; height: 80%;">
                    <textarea name="acct_detail" style="width: 100%; height:200px;">{{acct.detail}}</textarea>
                </form>
            </div>

            <div class="col-xl-6">
                <button class="btn btn-view form_navigate" type="button" name="{{acct.varClientKey}}" value="edit_account">Edit Account Info</button>
            </div>

            <div class="col-xl-3">
                <button class="btn btn-view acct_detail" type="button" name="{{acct.varClientKey}}">Update Member Detail</button>
            </div>


            <div class="col-xl-3">
                {% if alerts == "true" %}
                <button class="btn btn-view form_navigate" type="button" name="{{alert.key}}" value="view_alert">View Alert</button>
                <button class="btn btn-view form_navigate" type="button" name="{{acct.varClientKey}}" value="create_alert">Create New Alert</button>
                {% endif %}
                {% if alerts != "true" %}
                <button class="btn btn-view form_navigate" type="button" name="{{acct.varClientKey}}" value="create_alert">Create Alert</button>
                {% endif %}
            </div>

        </div>

        <div class="row" id="acct_loans" style="display:none;">
            <div class="col-xl-6">
                <p><b>Account #:</b> {{acct.varClientKey}}</p>
                <p><b>Member Name:</b> {{acct.first_name}} {{acct.middle_name}} {{acct.last_name}}</p>
                <p><b>Physical Address:</b> {{acct.phys_address}} {{acct.phys_city}} <br> {{acct.phys_state}} {{acct.phys_zip}}</p>
                <p><b>Mail Address:</b> {{acct.mail_address}} {{acct.mail_city}} <br> {{acct.mail_state}} {{acct.mail_zip}}</p>
                <p><b>Member Phone:</b> {{acct.phone}}</p>
                <p><b>Member Phone 2:</b> {{acct.phone2}}</p>
            </div>

            <div class="col-xl-6 mb-3">
                <p>Acct Loan Information:</p>
                <div style="height: 200px; overflow-y: auto;">
                    <form method="post" id="loan_form">
                    <table class="table-sm table">
                        <thead>
                        <tr>
                            <th>Loan Number</th>
                            <th>AcctNoLnNo</th>
                            <th>Balance</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for loan in acct_loans %}
                        <tr>
                            <td>{{loan.loan_numb}}</td>
                            <td>{{loan.acctnolnno}}</td>
                            <td>{{loan.balance}}</td>
                        </tr>
                        {% endfor %}

                        <tr>
                                <input type="hidden" name="acct_num" value="{{acct.varClientKey}}">
                                <td><input type="text" placeholder="Loan Number" maxlength="25" name="loan_numb" required></td>
                                <td><input type="number" placeholder="AcctNoLnNo" name="acctnolnno" required></td>
                                <td><input type="test" placeholder="Balance" maxlength="20" name="balance" required></td>
                        </tr>

                        </tbody>
                    </table>
                    </form>
                </div>
            </div>

            <div class="col-xl-6">
                <button class="btn btn-view form_navigate" type="button" name="{{acct.varClientKey}}" value="edit_account">Edit Account Info</button>
            </div>

            <div class="col-xl-3">

            </div>


            <div class="col-xl-3">
                <button class="btn btn-view loan_submit" type="button" name="{{acct.varClientKey}}" value="add_loan" style="float: right;">Add Loan</button>
            </div>

        </div>

    </div>

</div>


<div class="row mt-5 mb-5">
    {% include "table_notes.html" %}
</div>

<script>
$(document).ready(function() {
    modal_param();
    update_acct_detail();
    acct_toggle("acct_toggle", "acct_alert", "acct_loans");
    formSubmit("loan_submit", "loan_form", "add_loan", "display", "none");
});
</script>