<div class="col-xl-6">
    <h3>Account Followup:</h3>
    <span class="table_toggle click_link">(Toggle Table Display)</span>
</div>

<div class="col-xl-6">
<!--    <button class="btn btn-view form_navigate" value="" name={{acct.varClientKey}} style="float: right; margin-left: 5px;">Create Report</button>-->
    <button class="btn btn-view form_navigate" value="create_followup" name={{acct.varClientKey}} style="float : right;">Create Followup</button>
</div>

<div class="col-xl-12 mt-5 mb-5 cell" id="table_display" style="display: none;">
    <table class="table table-sm" id="table_id">
        <thead>
        <tr>
            <th>Date</th>
            <th>Entered By</th>
            <th>Detail</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        {% for post in follow %}
        <tr>
            <td>{{post.dateEntered}}</td>
            <td>{{post.varEnteredBy}}</td>
            <td>{{post.txtDetails|truncate(100, True)|safe}}</td>
            <td><button class="btn btn-sm btn-view follow_view" value="{{post.key}}" type="button" style="float: right;">View Followup</button></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<div class="col-xl-12 mt-5 mb-5 cell" id="table_short">
    <table class="table table-sm">
        <thead>
        <tr>
            <th style="width: 100px;">Date</th>
            <th style="width: 100px;">Entered By</th>
            <th style="width: 100px;">Delinquent</th>
            <th>Detail</th>
        </tr>
        </thead>
        <tbody>
        {% for post in follow_recent %}
        <tr>
            <td style="font-size: 12px;">{{post[3]}}</td>
            <td style="font-size: 12px;">{{post[2]}}</td>
            <td style="font-size: 12px;">{{post[6]}}</td>
            <td style="font-size: 12px;">{{post[4] | safe}}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<script>
$(document).ready(function() {
    $("#table_id").DataTable();
    table_toggle ("table_toggle", "table_display", "table_short");
    follow_view();
<!--    modal_navigate();-->
});
</script>