<div class="col-xl-6">
    <h3>Account Followup:</h3>
    <span class="table_toggle click_link">(Toggle Table Display)</span>
</div>

<div class="col-xl-6">
    <button class="btn btn-view modal_navigate" value="create_followup" style="float: right;">Create Followup</button>
</div>

<div class="col-xl-12 mt-5 mb-5 cell" id="table_display" style="display: none;">
    <table class="table table-sm" id="table_id">
        <thead>
        <tr>
            <th>Date</th>
            <th>Call Type</th>
            <th>Entered By</th>
            <th>Loan #</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        {% for post in follow %}
        <tr>
            <td>{{post.datEnteredDatetime}}</td>
            <td>{{post.varCallType}}</td>
            <td>{{post.varEnteredBy}}</td>
            <td>{{post.varLoanNo}}</td>
            <td><button class="btn btn-sm btn-view follow_view" value="{{post.key}}" type="button" style="float: right;">View Followup</button></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script>
$(document).ready(function() {
    $("#table_id").DataTable();
    table_toggle ("table_toggle", "table_display");
    follow_view();
    modal_navigate();
});
</script>