<div class="row">
  <div class="col-xl-12">
    <h3 clas="mb-2">View Follow Up:</h3>
  </div>

    <div class="col-xl-6">
        <p><b>Date:</b> {{follow.datEnteredDatetime}}</p>
        <p><b>Entered By:</b> {{follow.varEnteredBy}}</p>
    </div>

    <div class="col-xl-6">
        <p><b>Call Type:</b> {{follow.varCallType}}</p>
        <p><b>Loan #:</b> {{follow.varLoanNo}}</p>
    </div>

    <div class="col-xl-12">
        <div>{{follow.txtDetails}}</div>
    </div>

</div>
<script>
$(document).ready(function() {

});
</script>